
.App{
  display: flex;
  background-color:rgb(250, 250, 250);
  background-color: hsl(0, 0%, 98%);
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
}
.box{
  margin-top: -120px;
  background-color: #fff;
  height: 80%;
  width: 75%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-h{
  display: flex;
  background-color: rgb(1, 126, 116);
  background-color: hsl(175, 98%, 25%);
  color: #fdfdfd;
  height: 60px;
  width: 100%;
}
.h-right-elems{
  display: inline-flex;
  margin-left: 299px;
  padding-left: 50px ;
  margin-top: 20px ;
}
#web-name{
   margin-left: 20px;
}

#timer-id{
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 1px;
}
#timer-low{
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 1px;
  font-weight: 700;
  color: rgb(154, 34, 34);
  color: (0, 0%, 91%);
  animation: blink 1s linear infinite;
}
@keyframes blink{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
#que-no{
  padding: 0 15px;
}
#score{
  padding: 0 15px;
}
.box-b{
  color: rgb(211, 137, 0);
  font-size: larger;
  background-color: #fff;
  border-radius: 10px;
}
#Start{
  padding: 22px 74px;
  margin-bottom: 15px;
  background-color: rgb(11, 50, 89);
  background-color:hsl(210, 78%, 20%);
  border-radius: 8px;
  border: 3px solid black;
  color: #fff;
  font-size: large;
  font-weight:700;
  
}
#Start:hover{
  background-color: rgb(10, 44, 78);
}
.Q-box{
  height: 170px;
  width: 45%;
  padding-top: 25px;
  margin-top: 10px;
  text-align: center;
  font-size: x-large;
  color: #fdfdfd;
  background-color: rgb(200, 65, 1);
  background-color: hsl(19, 99%, 40%);
  margin-left: 250px;
  border-radius: 10px;
}
.opt-row{
  display: flex;
  margin-left: 195px;
}

.Option{
  background-color: rgb(247, 250, 253);
  background-color: hsl(210, 60%, 98%);
  border: 2px solid rgb(212, 231, 247);
  color: black;
  margin: 20px;
  padding: 5px;
  width: 20%;
  font-weight: 500;
  border-radius: 7px;
  padding-left: 70px;
  height: 30px;
  padding-top: 10px;
}
.Option-right{
  background-color: rgb(247, 250, 253);
  background-color: hsl(210, 60%, 98%);
  color: black;
  margin: 20px;
  padding: 5px;
  width: 20%;
  border-radius: 7px;
  padding-left: 70px;
  height: 30px;
  padding-top: 10px;
  font-weight: 500;
  border: 3px solid rgb(0, 121, 74);
  border: 3px solid hsl(157, 100%, 24%);
}
.Option:hover{
  border: 2px solid rgb(11, 50, 89);
}
.Option-wrong{
  border: 3px solid rgb(154, 34, 34);
  border: 3px solid hsl(0, 64%, 37%);
  background-color: rgb(247, 250, 253);
  background-color: hsl(210, 60%, 98%);
  color: black;
  margin: 20px;
  padding: 5px;
  width: 20%;
  border-radius: 7px;
  padding-left: 70px;
  height: 30px;
  padding-top: 10px;
  font-weight: 500;
}
.next-btn{
  background-color: rgb(48, 48, 144);
  color: #fdfdfd;
  width: 8%;
  height: 10px;
  padding: 27px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 10px;
  margin-left: 395px;
  border-radius: 5px;
  border: 3px solid black;
}
.next-btn:hover{
  background-color: rgb(42, 42, 98);
}
.next-btn-hide{
  background-color: rgb(48, 48, 144);
  color: #fdfdfd;
  width: 8%;
  height: 10px;
  padding: 27px;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 10px;
  margin-left: -300px;
  border-radius: 5px;
  border: 3px solid black;
}
#finish{
  width: 50%;
  color:#fdfdfd;
  text-align: center;
  margin-left: 180px;
  padding: 55px 65px;
  margin-top: 70px;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(200, 65, 1);
  background-color: hsl(19, 99%, 40%);
}
#finish p{
  margin-bottom: 10px;
  font-size: large;
}
#finish h3{
  margin-bottom: -10px;
}

#play-again{
  padding: 20px 35px;
  margin-bottom: 15px;
  background-color:#fff;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(11, 50, 89);
  font-size: medium;
  font-weight:700;
}
#play-again:hover{
  border: 3px solid rgb(0, 0, 0) ;
}
.Reset-nav{
  text-align: center;
  display: flex;
  text-align: center;
  font-size: x-large;
  width: 100%;
}
#Reset-nav-score{
width: 50%;
padding-top: 10px;
border-bottom: 4px solid rgb(83, 152, 124);
}
#Reset-nav-score-hover{
  width: 50%;
  padding-top: 10px;
  border-bottom: 4px solid black;
}
#Reset-nav-answers{
  width: 50%;
  padding-top: 10px;
  border-bottom: 4px solid rgb(83, 152, 124);

}
#Reset-nav-answers-hover{
  width: 50%;
  padding-top: 10px;
  border-bottom: 4px solid black;

}
.answers-b{
  height: 700px;
  overflow-y: scroll;
  ::-webkit-scrollbar {
    width: 10px;
    }
  ::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
  background: #888;
  }
}
#review-h{
  text-align: center;
  font-size: x-large;
}
.review-b{
display: flex;
padding: 20px;
font-weight: 400;
}
.ans-col{
  padding: 5px 40px;
}
#statement{
padding: 7px 3px;
background-color: lightcoral;
border-radius: 0px 15px;
}
#ans{
  text-align: center;
  margin: 10px 0px;
  padding: 4px 3px;
  background-color: rgb(216, 234, 252);
  background-color: hsl(210, 44%, 93%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.attempt-col{
  margin-top: -10px;
  padding: 5px 40px;
  margin-bottom: 300px;
}
#attempt-right{
  text-align: center;
  margin: 29px 0px;
  padding: 15px 16px;
  font-weight: 500;
  color:rgb(11, 50, 89);
  background-color: rgb(216, 252, 230);
  background-color: hsl(210, 44%, 93%);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#attempt-wrong{
  text-align: center;
  margin: 29px 0px;
  padding: 15px 16px;
  font-weight: 500;
  color:rgb(11, 50, 89);
  border: 3px solid rgb(154, 34, 34);
  border: 3px solid hsl(0, 64%, 37%);
  background-color: rgb(247, 250, 253);
  background-color: hsl(210, 60%, 98%);
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}




/*                 FOR MOBILE                              */





@media screen and (max-width: 600px) {

  .App{
    height: 850px;
    width: 800px;
  }
  .box{
    margin-top: 50px;
    height: 100%;
    width: 75%;
  }
  .box-h{
    height: 60px;
    width: 100%;
  }
  .box-b{
    margin-left: 26px;
  }

  .h-right-elems{
    margin-left: 0px;
    padding-left: 25px ;
    margin-top: 10px ;
  }
  #web-name{
     margin-left: 10px;
     margin-top: 8px;
  }
  #timer-id{
    padding: 0px 15px;
    padding-top: 2px;
  }
  #timer-low{
    padding: 0px 15px;
    padding-top: 2px;
  }

  #que-no{
    padding: 0 7px;
  }
  #score{
    padding: 0 7px;
  }
  #Start{
    padding: 11px 36px;
    margin-bottom: 12px;
  }
  .Q-box{
    height: 250px;
    width: 75%;
    padding: 25px 20px;
    padding-bottom: 8px;
    margin-top: 20px;
    margin-left: 30px;
    font-size: larger;
  }
  .opt-row{
    margin-left: 45px;
    margin-top: 20px ;
    margin-bottom: 20px;
  }
  
  .Option{
    font-size: small;
    padding: 5px 25px;
    margin: 20px;
    padding-left: 30px;
    height: 25px;
    padding-top: 10px;
  }
  .Option-right{
    margin: 20px;
    font-size: small;
    padding: 5px 25px;
    padding-left: 30px;
    height: 25px;
    padding-top: 10px;
  }
  .Option-wrong{
    margin: 20px;
    font-size: small;
    padding: 5px 25px;
    width: 20%;
    border-radius: 7px;
    padding-left: 35px;
    height: 25px;
    padding-top: 10px;
  }
  .next-btn{
    padding: 16px 18px;
    padding-top: 10px;
    margin-left: 165px;
    font-size: x-large;
    display: inline;
  }
  #finish{
    height: 50%;
    width: 75%;
    margin-left: 30px;
    padding: 45px 25px;
    margin-top: 100px;
  }
  #finish p{
    margin-bottom: 10px;
  }
  #finish h3{
    margin-top: 100px;
    margin-bottom: -10px;
  }
  .box{
    width: 60%;
    }
  #play-again{
    padding: 14px;
    margin-bottom: 15px;
  }
  .answers-b{
    height: 800px;
    ::-webkit-scrollbar {
      width: 5px;
      }
  }
  .attempt-col{
    margin-top: 0px;
  }
  #attempt-wrong{
   margin-top: 0px;
   padding-top: 11px;
  }

}

